*{
    margin: 0px;
    padding: 0px;
    font-family: century;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(Images/Blue\ and\ White\ Modern\ Book\ Store\ Logo_20240521_114204_0000.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 40px;
    margin-right: 60px;
    font-size: 17px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color:#fff;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5 ease;
}

ul li a:hover{
    background-color: #fff;
    color: #190062;
}

ul li.active a{
    background-color: #190062;
    color: #fff;
}

.awards img{
    width: 100%;
}

h1{
    color: darkgoldenrod;
}

img {
    width: 50%;
    height: 50%;
    border-radius: 90px;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}
h1 {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
h2 {
    text-align: center;
}
.hz {
    text-align: center;
}

.p {
    padding-bottom: 20px;
    font-family: fantasy;

}
a{
    text-decoration: none;
    color: black;
}

h3{
    padding-top: 50px;
    padding-bottom: 30;
}
